<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DigiLearn</title>
    <link rel="stylesheet" href="../static/css/courses.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1>My Dashboard</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{{ url_for('auth.course_page', course=current_user.course)}}">Course</a></li>
          <li><a href="{{ url_for('auth.profile')}}">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    
    {% endblock %}

    <section class="feedback">
      <h3>Book a session with our mentors</h3>
      <p>Our mentors are available to help you when you have questions.</p>
      <form id="feedbackForm">
        <button type="submit"><a href="{{ url_for('auth.book_session')}}">Book</a></button>
      </form>
    </section>
  </section>
</main>

<script src="js/courses.js"></script>
</body>
</html>