<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Session</title>
    <link rel="stylesheet" href="../static/css/courses.css" />

</head>
<body>
    <h1>Book a Session with a Mentor</h1>
    <form action="{{ url_for('auth.book_session') }}" method="POST" class="feedback" id="feedbackForm">
        <label for="name">Your Name:</label>
        <input class="form-group" type="text" id="name" name="name" required><br><br>

        <label for="mentor">Select Mentor:</label>
        <select id="mentor" name="mentor" required>
            <option value="Blessing Ebele">Blessing Ebele</option>
            <option value="Miracle Amajama">Miracle Amajama</option>
        </select><br><br>

        <label for="message">Your Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea><br><br>

        <button type="submit">Book Session</button>
    </form>
</body>
</html>