{% extends 'base.html' %}

{% block content %}
    <main>
      <section class="course-page">
        <h2>CSS3</h2>
        <div class="course-description">
          <p>
            Learn to style and layout web pages using CSS3 techniques such as
            Flexbox, Grid, animations, and responsive design.
          </p>
        </div>

        <section class="lessons">
          <h3>Course Lessons</h3>
          <ul>
            <li><a href="https://www.w3schools.com/css/css_intro.asp"> 1: Introduction to CSS3</a></li>
            <li><a href="https://codecoda.com/en/blog/entry/css-selectors-properties-and-values">
               Lesson 2: Selectors and Properties</a>
             </li>
            <li><a href="https://www.w3schools.com/css/css_rwd_intro.asp">
              Lesson 3: Responsive Design</a></li>
            <li><a href="https://learn.shayhowe.com/advanced-html-css/transitions-animations/">
              Lesson 4: CSS3 Animations and Transitions</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Introduction">
              Lesson 5: Advanced Layout Techniques</a></li>
          </ul>
        </section>
{% endblock %}

