{% extends 'base.html' %}
{% block content %}
    <main>
      <section class="course-page">
        <h2>Digital Marketing</h2>
        <div class="course-description">
          <p>
            Learn the fundamentals of digital marketing, including SEO, content
            marketing, social media strategy, email marketing, and PPC
            campaigns.
          </p>
        </div>

        <section class="lessons">
          <h3>Course Lessons</h3>
          <ul>
            <p>INTRODUCTION TO DIGITAL MARKETING</p>
            <li><a href="https://youtu.be/0Uowv0cXWOI?si=yiF2ouR4dd76oUA3">Lesson 1</a></li>
            <li><a href="https://youtu.be/yw6bMb998dM?si=UtTWLSupiciE-xwp">Lesson 2</a></li>
            <li><a href="https://youtu.be/XfRcadWhnCo?si=NqVX33O5h7m6Pr79">Lesson 3</a></li>
            <li><a href="https://youtu.be/r2EjRMh4g6I?si=1BPSfVBFfrwP06le">Lesson 4</a></li>
            <li><a href="https://youtu.be/WoGgA2ahvoM?si=eX4dyZisMaJ-SgAp">Lesson 5</a></li>
            <p>DIGITAL MARKETING ROADMAP</p>
            <li><a href="https://youtu.be/w_LqqjOsLrk?si=OcgmwUAjQpc3TonL">Digital marketing Road map</a></li>
          </ul>
        </section>
{% endblock %}
        
