{% extends 'base.html' %}
{% block content %}
    <main>
      <section class="course-page">
        <h2>HTML5</h2>
        <div class="course-description">
          <p>
            Master the latest HTML5 standards and learn how to structure and
            present web content efficiently and effectively.
          </p>
        </div>

        <section class="lessons">
          <h3>Course Lessons</h3>
          <ul>
            <li><a href="https://www.w3schools.com/html/html_intro.asp"> 1: Introduction to HTML5</a></li>
            <li><a href="">Lesson 2: HTML5 Tags and Elements</a></li>
            <li><a>Lesson 3: Forms and Input Types</a></li>
            <li><a>Lesson 4: Multimedia Elements</a></li>
            <li><a>Lesson 5: Building Accessible Web Pages</a></li>
          </ul>
        </section>

 {% endblock %}       