<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DigiLearn</title>
    <!-- font-awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <!-- custom css link -->
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <a href="#" class="logo"
        ><i class="fas fa-graduation-cap"></i>DigiLearn</a
      >

      <nav class="navbar">
        <ul>
          <li><a href="#home">home</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('auth.course_page', course=current_user.course) }}">
            dashboard</a></li>
          <li>
            <a href="/logout"><button>logout</button></a>
          </li>
          {% else %}
          <li><a href="#about">about</a></li>
          <li><a href="#course">courses</a></li>
          <li><a href="#tutor">tutors</a></li>
          <li><a href="#contact">contact</a></li>
          <li>
            <a href="/login"><button>login</button></a>
          </li>
          {% endif %}
        </ul>
      </nav>

      <div class="fas fa-bars"></div>
    </header>
    <!-- header section ends -->

    <!-- home section starts -->
    <section class="home" id="home">
      <div class="content">
        <h1>Master digital skills, anytime, anywhere</h1>
        <p>
          Learn digital skills from the comfort of your home. Get access to resources to help you kickstart your journey 
          in the digital business world.
        </p>
        <a href="#course"><button>discover more</button></a>
      </div>

      <div class="box-container">
        <div class="box">
          <i class="fas fa-fire"></i>
          <a href="/signup"><h3>Sign Up</h3></a>
          <p>
            Register now to gain access to our free online resources and start learning.
          </p>
        </div>

        <div class="box">
          <i class="fas fa-graduation-cap"></i>
          <a href="#courses"><h3>trending courses</h3></a>
          <p>
            See our list of courses.
          </p>
        </div>

        <div class="box">
          <i class="fas fa-award"></i>
          <h3>certifications</h3>
          <p>
            Get a certificate on completion of a course.
          </p>
        </div>
      </div>
    </section>
    <!-- home section ends -->

    <!-- about section starts -->
    <section class="about" id="about">
      <h1 class="heading">about us</h1>
      <h3 class="title">Start your journey in tech with us</h3>
      <div class="row">
        <div class="content">
          <h3>Empower Your Future with Expert-Led Digital Skills Training</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est
            ullam eos deleniti quas alias placeat, quidem temporibus itaque
            quibusdam, minus quam explicabo minima accusamus id repellendus
            ipsam quos commodi!
          </p>
          <a href="#"><button>learn more</button></a>
        </div>

        <div class="image">
          <img src="../static/images/about.svg" alt="" />
        </div>
      </div>
    </section>
    <!-- about section ends -->

    <!-- tutor section starts -->
    <section id="tutor" class="tutor">
      <h1 class="heading">our tutors</h1>
      <h3 class="title">meet professional tutors</h3>

      <div class="card-container">
        <div class="card">
          <img src="../static/images/Daniel DigiLearn.jpg" alt="" />
          <h3>Daniel</h3>
          <p>HTML5</p>
          <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
          </div>
        </div>

        <div class="card">
          <img src="../static/images/Blessing DigiLearn.jpg" alt="" />
          <h3>Blessing Ogor</h3>
          <p>JavaScript Tutor</p>
          <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
          </div>
        </div>

        <div class="card">
          <img src="../static/images/Mariam.jpg" alt="" />
          <h3>Mariam</h3>
          <p>CSS3 Tutor</p>
          <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
          </div>
        </div>

        <div class="card">
          <img src="../static/images/Miracle DigiLearn.jpg" alt="" />
          <h3>Miracle Amajama</h3>
          <p>Digital Marketing Tutor</p>
          <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
          </div>
        </div>
      </div>
    </section>
    <!-- tutor section ends -->

    <!-- course section starts -->

    <section id="course" class="course">
      <h1 class="heading">our courses</h1>
      <h3 class="title">
        Upgrade your skills with our crefully curated courses
      </h3>

      <div class="box-container">
        <div class="box">
          <i class="fab fa-html5"></i>
          <h3>html5</h3>
          <p>
            Learn how to build web pages with HTML5.
          </p>
        </div>

        <div class="box">
          <i class="fab fa-css3-alt"></i>
          <h3>css3</h3>
          <p>
            Learn how to design web pages using CSS3.
          </p>
        </div>

        <div class="box">
          <i class="fab fa-js-square"></i>
          <h3>javascript</h3>
          <p>
            Learn how to use javascript to make your web pages look more interesting and
            interactive. 
          </p>
        </div>

        <div class="box">
          <i class="fas fa-bullhorn"></i>
          <h3>digital marketing</h3>
          <p>
            Learn how to improve sales online and get more clients and actions on your websites with
            our digital marketing course.
          </p>
        </div>

        <div class="box">
          <a href="/graphic_design"
            ><i class="fas fa-paint-brush"></i>
            <h3>graphic design</h3>
            <p>
              Learn how to design beautiful ecards, logos, fliers and more. This couse
              will teach you the basics of graphics design; colors, lines,
               shapes and lots more.
            </p></a
          >
        </div>
      </div>
    </section>
    <!-- course section ends -->

    <!-- contact section starts -->
    <section class="contact" id="contact">
      <h1 class="heading">contact us</h1>
      <h3 class="title">reach out to us, let's talk.</h3>

      <div class="row">
        <div class="image">
          <img src="../static/images/contact.svg" alt="" />
        </div>
        <div class="form-container">
          <form action="">
            <input type="text" placeholder="full name" />
            <input type="email" placeholder="enter your email" />
            <input type="number" placeholder="phone" />
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="message"
            ></textarea>
            <input type="submit" value="message" />
          </form>
        </div>
      </div>
    </section>
    <!-- contact section ends -->

    <section class="footer">
      <div class="icons">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-github"></a>
        <a href="#" class="fab fa-pinterest"></a>
      </div>

      <div class="credit">
        created by <span>ALX students</span> | all rights reserved.
      </div>
    </section>
    <!-- jquery cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script>
  document.querySelector('.fa-bars').addEventListener('click', function() {
    document.querySelector('.navbar').classList.toggle('nav-toggle');
  });
</script>
  </body>
</html>
